@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --colorTheme1: #DB9642;
  --colorTheme2: #DBBD42;
  --colorTheme3: #DB6042;
  --colorTheme4: #DBB78B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.classLinkReceita{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 2px;
  min-height: 9rem;
  width: 20%
}

.h1LinkReceita{
  font-size: 1.25rem;
}
